<head th:fragment="header">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
          crossorigin="anonymous"/>
</head>
<header>
    <div class="ui centered grid container">
        <div class="row"></div>
        <h1 class="ui icon header">
            <i class="circular green edit outline icon"></i>
            SurveyMonkey
        </h1>
    </div>
    <div class="ui internally celled centered grid container">
        <div class="ui divider" style="width: 500px"></div>
    </div>
    <div class="ui centered grid container">
        <div class="row"></div>
    </div>
</header>