<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <h2>Add Answer Options</h2>
        </div>
        <div class="row">
            <p id="choiceQuestionOnAddQuestionChoice" th:text="${question.getQuestion()}"></p>
        </div>
        <div class="row">
            <form class="ui form" action="#"
                  th:action="@{/survey/__${survey.getId()}__/choicequestion/__${question.getId()}__/choices}"
                  method="post" id="questionForm">
                <div class="required field">
                    <div class="ui input">
                        <input type="text" id="choice" name="choice" required="required"
                               placeholder="Enter an answer option...">
                    </div>
                </div>
                <button id="addOptionButton" class="ui fluid labeled icon green button" type="submit"
                        form="questionForm" value="Submit">
                    <i class="plus icon"></i>
                    Add Answer Option
                </button>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="sixteen wide center aligned column">
                <p><b>Answer options you've provided:</b></p>
            </div>
            <br>
            <div class="four wide column">
                <ol>
                    <li class="choiceQuestionChoiceOnAddQuestionChoice" th:each="choice : ${question.getChoices()}"
                        th:text="${choice}"></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <form class="ui form" th:action="@{/survey/__${survey.getId()}__}" method="get" id="viewSurveyForm">
                <button class="ui fluid vertical animated button" type="submit" form="viewSurveyForm" value="Submit">
                    <div class="visible content">I'm Done! View Survey</div>
                    <div class="hidden content">
                        <i class="eye icon"></i>
                    </div>
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>