<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <h1>Add Option</h1>
        </div>
        <div class="row">
            <p th:text="'Add a choice to the question: ' +  ${question.getQuestion()} + '?'"></p>
        </div>
        <table class="surveyTable">
            <thead>
            <tr>
                <th>Current Choices:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="choice : ${question.getChoices()}">
                <td th:text="${choice}"></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="ui buttons">
                <form class="ui form" action="#"
                      th:action="@{/survey/__${survey.getId()}__/choicequestion/__${question.getId()}__/choices}"
                      method="post" id="questionForm">
                    <div class="required field">
                        <label for="choice">Add Choice: </label>
                        <div class="ui icon input">
                            <input type="text" id="choice" name="choice" required="required">
                        </div>
                    </div>
                    <br>
                    <button id="addOptionButton" class="ui fluid labeled icon green button" type="submit"
                            form="questionForm" value="Submit">
                        <i class="plus icon"></i>
                        Add Choice
                    </button>
                </form>
            </div>
        </div>
        <strong>Or</strong>


        <div class="row">
            <div class="ui buttons">
                <a th:href="@{/survey/__${survey.getId()}__}" id="viewSurvey">
                    <button id="seeSurvey" class="ui fluid labeled icon blue button"
                            value="Submit">
                        <i class="eye icon"></i>
                        See Survey
                    </button>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>