<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <h2 class="ui header">Set Answer Bounds</h2>
        </div>
        <div class="row">
            <p id="numberQuestionOnChangeQuestionBounds" th:text="${question.getQuestion()}"></p>
        </div>
        <div class="row">
            <form class="ui form" action="#"
                  th:action="@{/survey/__${survey.getId()}__/numberquestion/__${question.getId()}__/bounds}"
                  method="post"
                  id="questionForm">
                <div class="required field">
                    <label for="lowerBound">Lower Bound</label>
                    <div class="ui input">
                        <input type="number" id="lowerBound" name="lowerBound" min="-1000000000000" max="10000000000"
                               placeholder="Lower Bound">
                    </div>
                </div>
                <div class="required field">
                    <label for="upperBound">Upper Bound</label>
                    <div class="ui input">
                        <input type="number" id="upperBound" name="upperBound" min="-1000000000000" max="10000000000"
                               placeholder="Upper Bound">
                    </div>
                </div>
                <br>
                <button class="ui fluid animated fade green button" tabindex="0" type="submit" form="questionForm"
                        value="Submit">
                    <div class="visible content">I'm Done!</div>
                    <div class="hidden content">
                        <i class="check icon"></i>
                    </div>
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>