<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <h2 class="ui header">Complete the Survey</h2>
        </div>
        <div class="row">
            <form class="ui form" th:action="@{/survey/__${survey.getId()}__/__${userID}__/fill}" method="post" id="fillSurveyForm">
                <table id="fillSurveyTable" class="ui padded striped collapsing table">
                    <thead>
                    <tr>
                        <th>Questions</th>
                        <th>Provide Your Answers Below</th>
                    </tr>
                    </thead>
                    <tbody th:each="question : ${questions}">
                    <div th:switch="${question.getType().toString()}">
                        <tr th:case="'TEXT'">
                            <td th:text="${question.getQuestion()}"></td>
                            <td>
                                <div class="required field">
                                    <div class="ui input">
                                        <input type="text" th:name="${question.getId()}" placeholder="Enter Answer" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr th:case="'NUMBER'" >
                            <td th:text="${question.getQuestion()}"></td>
                            <td>
                                <div class="required field">
                                    <div class="ui fluid input">
                                        <input type="number" th:name="${question.getId()}"
                                               th:min="${question.getLowerBound()}"
                                               th:max="${question.getUpperBound()}" placeholder="Enter Answer" required>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr th:case="CHOICE">
                            <td th:text="${question.getQuestion()}"></td>
                            <td>
                                <div class="required field">
                                    <select class="ui dropdown" th:name="${question.getId()}" required>
                                        <option value="">Select Answer</option>
                                        <option th:each="choice : ${question.getChoices()}"
                                                th:text="${choice}"></option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
                <div class="ui hidden divider"></div>
                <button type="submit" class="ui animated fade green button" tabindex="0" value="Submit">
                    <div class="visible content">I'm Done!</div>
                    <div class="hidden content">
                        <i class="check icon"></i>
                    </div>
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>