<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SurveyMonkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="/survey" method="post" id="surveyForm">
    <button type="submit" form="surveyForm" value="Submit">Create Survey!</button>
</form>
<form action="/index/create" method="get" id="userCreateForm">
    <button type="submit" form="userCreateForm" value="Submit">Create a New User Account</button>
</form>
<form action="/index/logon" method="get" id="userLogonForm">
    <button type="submit" form="userLogonForm" value="Submit">Logon to an existing User</button>
</form>
</body>
</html>