<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header">
    <title>SurveyMonkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <form action="/survey" method="post" id="surveyForm">
                <button class="ui labeled icon green button" type="submit" form="surveyForm" value="Submit">
                    <i class="plus icon"></i>
                    Create Survey
                </button>
            </form>
        </div>
        <div class="row">
            <div class="ui buttons">
                <form action="/index/logon" method="get" id="userLogonForm">
                    <button class="ui button" type="submit" form="userLogonForm" value="Submit">
                        Log In
                    </button>
                </form>
                <div class="or"></div>
                <form action="/index/create" method="get" id="userCreateForm">
                    <button class="ui button" type="submit" form="userCreateForm" value="Submit">
                        Sign Up
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>