<!DOCTYPE HTML>
<!-- Template name is index -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header">
    <title>SurveyMonkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <form class="ui form" action="/survey" method="post" id="surveyForm">
                <button id="createSurveyFromIndexButton" class="ui fluid labeled icon green button" type="submit"
                        form="surveyForm" value="Submit">
                    <i class="plus icon"></i>
                    Create Survey
                </button>
            </form>
        </div>
        <div class="row">
            <div class="ui jiggle buttons">
                <form class="ui form" action="/index/logon" method="get" id="userLogonForm">
                    <button class="ui vertical animated button" type="submit" form="userLogonForm"
                            value="Submit">
                        <div class="visible content">Log In</div>
                        <div class="hidden content">
                            <i class="sign-in icon"></i>
                        </div>
                    </button>
                </form>
                <div class="or"></div>
                <form class="ui form" action="/index/create" method="get" id="userCreateForm">
                    <button class="ui animated button" type="submit" form="userCreateForm"
                            value="Submit">
                        <div class="visible content">Sign Up</div>
                        <div class="hidden content">
                            <i class="user plus icon"></i>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>