<!DOCTYPE HTML>
<!-- Template name is logonPage -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: header">
    <title>SurveyMonkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <form action="/user" method="post" id="userLogonForm">
                <div class="ui left icon input">
                    <input type="text" id="name" name="name" placeholder="Username">
                    <i class="user icon"></i>
                </div>
            </form>
        </div>
        <div class="row">
            <button class="ui green button" type="submit" form="userLogonForm" value="Submit">Log In</button>
        </div>
    </div>
</main>
</body>
</html>