<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>

    <p th:text="${survey.getId()}"></p>
    <table class="surveyTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Question</th>
            <th>Lower Bound</th>
            <th>Upper Bound</th>
            <th>Choices</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="textQuestion : ${textQuestions}">
            <td th:text="${textQuestion.getId()}"></td>
            <td th:text="${textQuestion.getType()}"></td>
            <td th:text="${textQuestion.getQuestion()}"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="numberQuestion : ${numberQuestions}">
            <td th:text="${numberQuestion.getId()}"></td>
            <td th:text="${numberQuestion.getType()}"></td>
            <td th:text="${numberQuestion.getQuestion()}"></td>
            <td th:text="${numberQuestion.getLowerBound()}"></td>
            <td th:text="${numberQuestion.getUpperBound()}"></td>
            <td></td>
        </tr>
        <tr th:each="choiceQuestion : ${choiceQuestions}">
            <td th:text="${choiceQuestion.getId()}"></td>
            <td th:text="${choiceQuestion.getType()}"></td>
            <td th:text="${choiceQuestion.getQuestion()}"></td>
            <td></td>
            <td></td>
            <td>
                <ul th:each="choice : ${choiceQuestion.getChoices()}">
                    <li th:text="${choice}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>

    <form action="#" th:action="@{/survey/__${survey.getId()}__/createQuestion}" method="post" id="questionForm">
        <label for="questionType">What type of answer should the question have:</label>
        <select type="select" id="questionType" name="questionType">
            <option value="textquestion">Text</option>
            <option value="numberquestion">Number Range</option>
            <option value="choicequestion"> Several Options</option>
        </select><br>

        <label for="question">Question:</label>
        <input type="text" id="question" name="question"><br>

        <button type="submit" form="questionForm" value="Submit">Add Question!</button>
    </form>
</main>
</body>
</html>