<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SurveyMonkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Create a Question</h1>


<form action="#" th:action="@{/survey/__${survey.getId()}__/createQuestion}" method="post" id="questionForm">
    <label for="questionType">What type of answer should the question have:</label>
    <select  type="select" id="questionType" name="questionType">
        <option value="textquestion">Text</option>
        <option value="numberquestion">Number Range</option>
        <option value="choicequestion"> Several Options </option>
    </select><br>

    <label for="question">Question:</label><br>
    <input type="text" id="question" name="question">

    <button type="submit" form="questionForm" value="Submit">Add Question!</button>
</form>
</body>
</html>