<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <a th:href="@{/user/__${user.getEndUserId()}__/surveys}" class="ui labeled icon green button">
                <i class="wrench icon"></i>
                Manage My Surveys
            </a>
        </div>
        <div class="row">
            <a th:href="@{/all-surveys}" class="ui labeled icon green button">
                <i class="eye icon"></i>
                View All Surveys
            </a>
        </div>
        <div class="row">
            <div class="ui jiggle buttons">
                <a th:href="@{/user/__${user.getEndUserId()}__/survey}" class="ui button">
                    Create a new survey
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>