<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui centered grid container">
        <div class="row">
            <form action="#" th:action="@{/user/__${user.getId()}__/displayAll}" method="post" id="surveyForm">
                <button class="ui labeled icon green button" type="submit" form="surveyForm" value="Submit">
                    <i class="wrench icon"></i>
                    Manage Surveys
                </button>
            </form>
        </div>
        <div class="row">
            <div class="ui jiggle buttons">
                <form action="#" th:action="@{/__${user.getId()}__/survey}" method="post" id="answerSurveyForm">
                    <button id="createSurveyFromUserManagementButton" class="ui button" type="submit"
                            form="answerSurveyForm" value="Submit">
                        Create Survey
                    </button>
                </form>
                <div class="or"></div>
                <form action="/survey/answer" method="get" id="userCreateForm">
                    <button class="ui button" type="submit" form="userCreateForm" value="Submit">
                        Answer Survey
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>