<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link href="../static/css/statisticContainerStyling.css" th:href="@{/css/statisticContainerStyling.css}" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>

<main>

    <div class="ui centered grid container">

        <div class="row">
            <h2 class="ui header" th:text="'Survey ' + ${survey.getId()} + ' Results'"></h2>
        </div>
        <script>

            var x;
            var questionId;
            var trace;
            var data;
            var choices
            let i;
            var questionId;
            var layout;

        </script>
        <div class="row">
            <table id="viewResponsesTable" class="ui selectable padded striped collapsing table">
                <thead>
                <tr>
                    <th>Questions</th>
                    <th>Responses</th>
                    <th>Statistics</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${questions}">
                    <td th:text="${question.getQuestion()}"></td>
                    <td>
                        <ul class="ui list">
                            <li th:each="answer : ${question.getAnswers()}" th:text="${answer}"></li>
                        </ul>
                    </td>
                    <td>
                    <div th:switch="${question.getType().toString()}">
                        <div th:case="'NUMBER'" th:with="dataSet=${questionHistogramData.get(__${question.getId()}__)}">
                            <div class = "histogram" th:id=" 'histogram' + ${question.getId()}"><!-- Plotly chart will be drawn inside this DIV --></div>
                            <script >
                                 x = [[${dataSet}]];
                                 questionId = [[${question.getId()}]];
                                 trace = {
                                    x: x,
                                    type: 'histogram',
                                };
                                data = [trace];
                                Plotly.newPlot('histogram' + questionId, data);
                            </script>
                        </div>
                        <div th:case="CHOICE" th:with="dataSet=${questionHistogramData.get(__${question.getId()}__)}">
                            <div class = "pie" th:id=" 'pie' + ${question.getId()}"><!-- Plotly chart will be drawn inside this DIV --></div>

                            <script>
                                choices = [];
                                i = 0;
                            </script>

                            <script th:each="choice : ${question.getChoices()}">
                                i = choices.length;
                                choices[i] = "[[${choice}]]";
                            </script>


                            <script >
                                x = [[${dataSet}]];

                                console.log(choices);
                                questionId = [[${question.getId()}]];



                                data = [{
                                    values: x,
                                    labels: choices,
                                    type: 'pie'
                                }];
                                layout = {
                                    height: 400,
                                    width: 700
                                };
                                Plotly.newPlot('pie' + questionId, data,layout);
                            </script>

                        </div>
                    </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>



        <div class="row">
            <form class="ui form" th:action="@{/survey/__${survey.getId()}__/}" method="get" id="backForm">
                <button class="ui labeled icon green button" type="submit" form="backForm" value="Submit">
                    <i class="left arrow icon"></i>
                    Back to Survey
                </button>
            </form>
        </div>
    </div>
</main>
</body>
</html>