<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general :: headerfiles"></th:block>
</head>
<body>
<header>
    <th:block th:include="fragments/general :: header"></th:block>
</header>
<main>
    <div class="ui grid container">
        <div class='row' th:each="question : ${questions}">
            <div class="ui grid">
                <div class="row">
                    <h2 th:text="${question.getQuestion()}">

                    </h2>
                </div>
                <ul class="ui list">
                    <li class='item' th:each="answer : ${question.getAnswers()}">
                        <div class='content' th:text="${answer}">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <form class="ui form row" th:action="@{/survey/__${survey.getId()}__/}" method="get"
              id="backForm">
            <button class="ui button" type="submit" form="backForm" value="Submit">
                Back to main view
            </button>
        </form>
    </div>
</main>
</body>
</html>